.io-projects-container {
    margin-top: 50px;
    flex-direction: column;
    max-width: 100%;
}

.io-project-content {
    display: flex;
    flex-direction: column;
}

.io-project-card {
    width: 800px;
    display: flex;
}

.io-project-picture {
    height: 300px;
    width: 370px;
}

.io-project-header {
    display: flex;
    align-content: center;
}

.io-project-header > a > svg {
    margin-top: 20px;
}

.io-project-tech-icon {
    height: 70px;
    width: 73px;
    margin-right: 5px;
}

.io-tooltip {
    position: relative;
    display: inline-block;
}

.io-tooltip .io-tooltip-text {
    font-size: 16px;
    visibility: hidden;
    width: 120px;
    color: #ffffff;
    text-align: center;
    padding-top: 5px;
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.io-tooltip:hover .io-tooltip-text {
    visibility: visible;
    opacity: 1;
}