body {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
  background-color: #584B91;
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a.io-link {
  font-weight: 700;
}

a.io-link:hover {
  text-decoration-line: underline;
  text-decoration-style: solid;
}
